.card-image {
  clip-path: polygon(40% 5%, 0 5%, 0 100%, 100% 100%, 100% 5%, 60% 5%, 50% 0);
}

.card {
  clip-path: polygon(
    40% 3%,
    0 3%,
    0 90%,
    50% 100%,
    100% 90%,
    100% 3%,
    60% 3%,
    50% 0
  );
}

.card-content {
  position: relative;
  clip-path: polygon(
    35% 10%,
    0 10%,
    0 80%,
    50% 100%,
    100% 80%,
    100% 10%,
    65% 10%,
    50% 0
  );
}

.card-content::before {
  content: "";
  opacity: 10%;
  position: absolute;
  inset: 0; /* biar full */
  border: 0.5px solid white;
  background-color: #fff;
  clip-path: polygon(
    1% 80%,
    1% 0,
    0 0,
    0 80%,
    50% 100%,
    100% 80%,
    100% 0,
    99% 0,
    99% 80%,
    50% 99%
  );

  pointer-events: none;
}

.card-badge {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

.upcoming-card-content {
  clip-path: polygon(35% 10%, 0 10%, 0 80%, 100% 80%, 100% 10%, 65% 10%, 50% 0);
}

.upcoming-release-date {
  background-image: url("/icons/date-badge.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 10px 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
