:root {
  --color-c-red: #631216;
  --color-c-red-light: #f0131d;
  --color-c-gray: #151515;
}

.polygon-border {
  background: url("/images/polygon.svg") center center no-repeat;
  background-size: contain;
}

.bg-c-red {
  background-color: var(--color-c-red);
}

.bg-c-red-light {
  background-color: var(--color-c-red-light);
}

.bg-c-gray {
  background-color: var(--color-c-gray);
}

.text-c-red {
  color: var(--color-c-red);
}

.text-c-red-light {
  color: var(--color-c-red-light);
}

.font-anton-sc {
  font-family: var(--font-anton-sc);
}

.font-tulpen-one {
  font-family: var(--font-tulpen-one);
}

.font-nordic {
  font-family: "Nordic Thunder", sans-serif;
}

.button-bg {
  background-image: url("/icons/button-bg.svg");
  background-size: 100% 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.button-search-bg {
  background-image: url("/icons/polygon.svg");
  background-size: 100% 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.divider-svg {
  &:before,
  &:after {
    height: 20px;
    flex-shrink: 0;
  }

  &:before {
    // background: linear-gradient(to right, blue, hotpink);
    background-image: url("/icons/divider.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    rotate: 180deg;
  }

  &:after {
    // background: linear-gradient(to left, blue, hotpink);
    background-image: url("/icons/divider.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.main-banner-wrapper {
  .bg-c-red {
    @media (max-width: 767px) {
      margin-bottom: 2rem;
    }
  }
  .banner-image {
    background: url("/images/viking.png") right center no-repeat;
    min-height: 550px;
    background-size: cover;
    @media (max-width: 767px) {
      min-height: 280px;
      background-size: 550px;
      background: url("/images/viking-mobile.png") right center no-repeat;
    }
  }

  .dots-wrapper {
    .dots {
      background: url("/images/slider-line.png") right center no-repeat;
      min-height: 550px;
      .dot {
        width: 16px;
        height: 16px;
        background-color: #ffffff36;
        margin-bottom: 5px;
        transform: rotate(45deg);
        &.active {
          background-color: #fff;
        }
      }
    }
    @media (max-width: 767px) {
      width: 20%;
      .dots {
        min-height: 280px;
        background: none;
      }
    }
  }
  .mobile-slide-title {
    @media (max-width: 767px) {
      margin-top: -3rem;
      z-index: 10;
      position: relative;
      button {
        max-width: fit-content;
        margin: 2rem auto auto;
      }
    }
  }
}

.socials {
  ul {
    li {
      background: url("/images/social-decorator.svg") left center no-repeat;
      background-size: 40px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        a {
          img {
            filter: brightness(0) saturate(100%) invert(17%) sepia(70%)
              saturate(4875%) hue-rotate(355deg) brightness(89%) contrast(91%);
          }
        }
      }
    }
  }
}

footer {
  background-image:
    radial-gradient(
      30% 70%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.85) 100%
    ),
    linear-gradient(
      #000 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 70%,
      #000 100%
    ),
    url(/images/bg-footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.filter-nav {
  ul {
    li {
      a {
        display: block;
        padding: 0.75rem 2rem;
        color: #fff;
        text-align: center;
        border-bottom: 2px solid #2d2d2d;
        transition: all 0.2s ease;

        // default BG
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center -10px;

        // HOVER
        &:hover {
          border-bottom-color: #f0131d; // red-600
          background:
            linear-gradient(
              180deg,
              rgba(3, 3, 3, 0.47) 35%,
              rgba(240, 19, 29, 1) 69%,
              rgba(20, 19, 19, 0.6) 98%
            ),
            url("/icons/union.svg") center -10px no-repeat;
        }

        // ACTIVE
        &.active {
          border-bottom-color: #f0131d;
          background:
            linear-gradient(
              180deg,
              rgba(3, 3, 3, 0.47) 35%,
              rgba(240, 19, 29, 1) 69%,
              rgba(20, 19, 19, 0.6) 98%
            ),
            url("/icons/union.svg") center -10px no-repeat;
        }
      }
    }
  }
}
